@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 800px;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.btn-blue {
  background-color: #3b82f6;
}

.btn-green {
  background-color: #16a34a;
}
/* globals.css */
.pdf-viewer-container {
  max-height: calc(100vh - 50px); /* Adjust as needed */
  overflow-y: auto;
}